name: child_workflow
on:
  pull_request: 
    branches:
      - nested-workflows
  workflow_dispatch:
    inputs:
      foo:
        description: 'Sample required input'
        required: true
        default: 'Mona the Octocat'
      bar:
        description: 'Sample optional input'
        required: false
        default: 'The Octoverse'
        
jobs:
  child_job:
    runs-on: ubuntu-latest
    steps:
      - id: child-step
        run: |
          echo "::debug::Input foo was: ${{ github.event.inputs.foo }}"
          echo "::debug::Input bar was: ${{ github.event.inputs.bar }}"
