name: parent_workflow
on:
  push:
    branches:
      - nested-workflows

jobs:
  parent_job:
    runs-on: ubuntu-latest
    steps:
      - id: sample-step-1
        run: echo "This is the first step, before child workflow execution."
      - id: trigger-child-workflow
        run: |     
          gh auth login --with-token < <(echo ${{ secrets.GITHUB_TOKEN }})
          CHILD_API_RESP=$(gh workflow run -R $GITHUB_REPOSITORY child-workflow.yaml -f foo=Foo -f bar=Bar)
          gh run watch
          echo " Response from child workflow: $CHILD_API_RESP"
        
#        CHILD_RESPONSE=$(curl -X POST \
#          -H 'Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
#          -H "Accept: application/vnd.github.v3+json" \
#          "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/actions/workflows/child-workflow.yaml/dispatches" \
#          -d '{"ref":"nested-workflows","inputs":{"foo":"Foo","bar":"Bar"}}' \
#          )
#    curl -H 'Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
#          -H "Accept: application/vnd.github.v3+json" \
#          "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/actions/workflows" \
      - id: sample-step-2
        run: echo "This is the second step, after child workflow execution."
